html{
  background:black;
}
.App-header {
  height: 100%;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
  max-height:500px;
}

.App-intro {
  font-size: large;
}
.previewComponent {
  background:#ccc;
  box-shadow: 0px 3px #ccc;
  border: 2px solid whitesmoke;
}

p{
  font-family: 'Slabo 27px', serif;
  position: absolute;
  background: linear-gradient(to bottom right, black, transparent);
  width:100%;
  color:white;
  font-size:1em;
  z-index:1;
}